<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="sqlConfig" class="common.util.SqlConfig"> 
	  <constructor-arg><map> 
	  	<!--查询所有student-->		
		<entry key="UserDaoImpl.queryAllData">
  			<value><![CDATA[ 
  				FROM User
  			]]></value>
		</entry>
		
		<!--根据用户查询当前已经设置在首页的资源-->		
		<entry key="ItsmServiceHomepageResourceDao.queryCurrentResourceByUserId">
  			<value><![CDATA[ 
  				SELECT
					b.id,
					b.resource_id,
					b.`name`,
					b.url,
					b.description,
					t.order_num,
					t.height
				FROM
					itsm_relation_user_resource t,
					itsm_service_homepage_resource b
				WHERE
					t.resource_id = b.resource_id
				AND t.user_id =?
				ORDER BY
					t.order_num IS NULL,
					t.order_num ASC
  			]]></value>
		</entry>
   
	   </map></constructor-arg> 
	</bean> 
</beans>
